
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="footer" style=""
    width: 1000px;
    margin: auto;>
    <div class="footer">
        <div>
            <h4 class="lienhe">Liên Hệ</h4>
            <b>KHOA CÔNG NGHỆ THÔNG TIN - HUTECH</b>
        </div><div><b class="truso">Trụ sở:</b> 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM</div>
        <div>ĐT: (028) 3 5120 791 - Email: khoa.cntt@hutech.edu.vn</div></div></div>