<!doctype html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- awesone fonts css-->
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <!-- owl carousel css-->
    <link rel="stylesheet" href="/Assets/Client/owl-carousel/assets/owl.carousel.min.css" type="text/css">
    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- custom CSS -->
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <title>Hutech - Quản lý đồ án sinh viên</title>
    <link href="~/css/demo.css" rel="stylesheet" />
    <style>
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
        <header _ngcontent-c1 class="animated fadeInDown" id="header">
            <div _ngcontent-c1 id="logo-group">
                <span _ngcontent-c1 id="logo">
                    <img _ngcontent-c1 alt="HUTECH"src="~/images/logo.png" />
                </span>
            </div>
        </header>
    </nav>
    @RenderBody()

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/Assets/Client/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/Assets/Client/js/popper.min.js"></script>
    <script src="/Assets/Client/js/bootstrap.min.js"></script>
    <!-- owl carousel js-->
    <script src="/Assets/Client/owl-carousel/owl.carousel.min.js"></script>
    <script src="/Assets/Client/js/main.js"></script>
</body>
</html>
