@model IEnumerable < qldoansvhutech.Models.Doan>


@{
    ViewBag.Title = "ThongTinDoAn";
    Layout = "~/Views/Shared/LayoutSV.cshtml";
}

<div class="container-fluid" style="margin-top:30px;width:70%;">
    <center>
        <div class="row">
            <div class="col-12">
                <h1>THÔNG TIN ĐỒ ÁN ĐÃ ĐĂNG KÝ</h1>
                <table style="margin-top:20px" class="table">
                    <tr>
                        <th>
                            Tên đồ án:
                        </th>
                        <th>
                            Mô tả đồ án:
                        </th>
                        <th>
                            Giảng viên hướng dẫn:
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tenda)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mota)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Magv)
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </center>
</div>