@using qldoansvhutech.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutGV.cshtml";
}
@*@{
    Sinhvien sv = (Sinhvien)Session["Taikhoan"];
}
<div class="row">
     Column 
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <center class="m-t-30">
                    <img src="~/images/iconprofile.svg" class="rounded-circle" width="150">
                    <h4 class="card-title m-t-10">Nhật Trường</h4>
                </center>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body">
                <small class="text-muted">Email</small>
                <h6>@sv.Email</h6> <small class="text-muted p-t-30 db">Số Điện Thoại</small>
                <h6>0972171200</h6> <small class="text-muted p-t-30 db">Địa Chỉ</small>
                <h6>475 Điện biên phủ, phường 25, Quận Bình Thạnh</h6>
                <br>
            </div>
        </div>
    </div>
     Column 
     Column 
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal form-material">
                    <div class="form-group">
                        <label class="col-md-12">Họ Tên</label>
                        <div class="col-md-12">
                            <input type="text" placeholder="@sv.Hoten" class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-email" class="col-md-12">Email</label>
                        <div class="col-md-12">
                            <input type="email" placeholder="@sv.Email" class="form-control form-control-line" name="example-email" id="example-email">
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">Số Điện Thoại</label>
                <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12">Địa chỉ</label>
            <div class="col-md-12">
                <textarea rows="5" class="form-control form-control-line"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12">Giới Tính</label>
            <div class="col-sm-12">
                <select class="gioitinh">
                    <option>Nam</option>
                    <option>Nữ</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button class="btn btn-success">Cập nhật</button>
            </div>
        </div>
        </form>
    </div>
</div>
        </div>
 Column 
    </div>*@
<h2>Index</h2>

